body {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 6rem;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

h2 {
    font-size: 1.25rem;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    color: #6B6B6B;
}

header {
    height: 75px;
    background-color: #FFC017;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    transition: background-color 0.4s ease-in;
}


nav {
    width: 100%;
    padding-inline: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #572F1E;
}

nav .logo {
    width: 120px;
    display: flex;
    align-content: center;
}

nav .logo img {
    max-width: 100%;
}

nav .cont-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .cont-link ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
}

nav .cont-link button {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    padding: 8px 10px;
    border: none;
}

main {
    padding-top: 75px;
}


#hero {
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    background-color: #FFC017;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

/* SECTION HERO */
#hero .cont-title {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    justify-content: center;
    padding-block: 4rem 3rem;

}

#hero .cont-title button {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    height: 35px;
    border: none;
    font-size: 1.2rem;
    width: 40%;
}

#hero .cont-m {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
}

#hero .cont-m svg {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: unset !important;
}



/* TRENDS */

#trends {

    padding-inline: 10%;
    padding-block: 3rem 2rem;
}

#trends .cont-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#trends .cont-title h2 {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 2px;
}



#trends .cont-trending-news {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
}

.cont-trend-news {
    width: calc(100% / 3 - 2px);
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.cont-trend-news span {
    font-size: 2rem;
    color: #e7e7e7;
    font-weight: bold;
    padding-inline: 1rem;
}

.cont-username {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
}

.cont-img-user {
    border-radius: 50%;
    width: 20px;
    overflow: hidden;
    margin-right: 5px;
    margin-block: 3px;
}

.cont-img-user img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.cont-img-user h4 {
    font-size: 0.8rem;
}

.cont-data-news h2 {
    font-weight: bold;
    font-size: 1rem;
    margin-block: 0.6rem;
}

.cont-date-news {
    color: #6B6B6B;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    padding-right: 5px;
}

#news .cont-date-news {
    justify-content: space-between;
}

#news .cont-date-news div {
    display: flex;
    align-items: center;
}

#news {
    display: flex;
    flex-direction: row;
    padding-inline: 10%;
}

.cont-news {
    width: 65%;
}

.cont-data-news span {
    background-color: #e7e7e7;
    border-radius: 10px;
    padding: 4px 6px;
}


#news .cont-data-news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    align-items: center;
}

.cont-data-news .wrap-container {
    width: 90%;
}



#news .cont-data-news h2 {
    font-size: 1.1rem;
}

#news .cont-data-news p {
    margin-bottom: 0.4rem;
    font-size: 0.8rem;
}


.cont-data-news .cont-backround-news {
    width: 180px;
    height: 120px;
    display: block;
}

.cont-backround-news img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#news .cont-categories {
    width: 35%;
    height: 250px;
    margin-left: 5%;
    position: sticky;
    top: 75px;
}

#news .cont-link {
    border-top: 1px solid #e7e7e7;
    margin-top: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}

#news .cont-categories a {
    text-decoration: none;
    color: #6B6B6B;
}

#news .cont-categories h2 {
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-block: 0.8rem;
}

#news .cont-button-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;

}

#news .categories-button {
    border: 1px solid #E9EAEA;
    min-height: 35px;
    padding-inline: 10px;
    border-radius: 4px;
    background-color: transparent;
    color: #6B6B6B;

}

@media screen and (max-width: 1168px) {
    #hero .cont-m svg {
        transform: translate3d(20%, 0px, 0px) !important;
    }

    h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 900px) {
    #hero .cont-m svg {
        transform: translate3d(30%, 0px, 0px) !important;
    }

    h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 3.8rem;
    }

    header nav {
        padding-inline: 6%;
    }

    #hero {
        padding-left: 5%;
    }

    #hero .cont-m svg {
        transform: translate3d(45%, 0px, 0px) !important;
    }


    #trends {
        padding-inline: 6%;
    }

    .cont-trend-news {
        width: calc(100% / 2 - 2px);
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .cont-trend-news span {
        font-size: 1.8rem;
    }

    #news {
        display: flex;
        flex-direction: column-reverse;
        padding-inline: 6%;
    }


    #news .cont-categories {
        width: 100%;
        margin-left: 0%;
        position: inherit;
        height: 200px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    #news .cont-link {
        margin-bottom: 3rem;
    }

    #news .categories-button {
        font-size: 1rem;

    }

    #news .cont-link {
        display: flex;
    }

    .cont-news {
        width: 100%;
    }

    .cont-data-news .cont-backround-news {
        width: 250px;
        height: 130px;
    }

    #news .cont-data-news h2 {
        font-size: 1.3rem;
        font-weight: 900;
    }

    #news .cont-data-news p {
        font-size: 1rem;
    }

}


@media screen and (max-width: 540px) {


    header nav {
        padding-inline: 5%;
    }

    header ul li:not(:last-child) {
        display: none;
    }

    #hero {
        padding-left: 5%;
        width: 100%;
    }

    #hero .cont-title {
        padding-block: 3.5rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    #trends {
        padding-inline: 5%;
        padding-block: 1.5rem 2rem;
    }

    #trends .cont-title {
        margin-bottom: 0.5rem;
    }

    #trends .cont-title h2 {
        font-size: 0.8rem;
    }

    #trends .cont-trending-news {
        display: flex;
        flex-wrap: no-wrap;
        flex-direction: column;
    }

    .cont-trend-news {
        width: 100%;
    }

    .cont-trend-news span {
        color: #e7e7e7;
        font-size: 1.5rem;
        padding-left: 0;
    }

    .cont-data-news h2 {
        font-size: 0.8rem;
    }

    .cont-date-news {
        font-size: 0.6;
    }

    #news {
        padding-inline: 5%;
    }

    #news .cont-categories h2 {
        font-size: 0.6rem;
    }

    #news .categories-button {
        min-height: 25px;
        font-size: 0.6rem;
    }

    #news .cont-link {
        flex-wrap: wrap;
    }

    #news .cont-link a {
        font-size: 0.6rem;
    }


    .cont-data-news .cont-backround-news {
        height: 100px;
        width: 150px;
    }

    #news .cont-data-news h2 {
        font-size: 0.9rem;
        font-weight: 900;
    }
}

@media screen and (max-width: 540px) {
    #hero .cont-m {
        display: none;
    }
}